<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Journal App</title>
	</head>
	<body>

<!-- TEXT INPUT	-->

		<form action="/add" method="get">
			<div class="title">
				<label for="title">Title:</label>
				<input type="text" name="title" id="title" value="title">
			</div>
			<div class="body">
				<label for="body">Entry:</label>
				<textarea name="body" id="body" value="body"></textarea>
				<div>
					<button>SUBMIT</button>
				</div>
			</div>
		</form>
		<div id="statisticsDiv">
		</div>

<!-- DISPLAY ENTRIES -->

		<table class="ListOfEntries">
			<tbody th:each="entry : ${journalEntry}">
				<tr>
					<td colspan="4" th:text="'Entry: ' + ${entry.number} + ' &sdot; ' + ${entry.date}"></td>
				</tr>
				<tr>
					<td colspan="4" th:text="${entry.title}"></td>
				</tr>
				<tr>
					<td colspan="4" th:text="${entry.body}"></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<form action="#" th:action="@{/read}" method="get" th:object="${entry}">
							<input type="submit" th:value="*{number}" name="entryString" value="READ">
						</form>
					</td>
					<td>
						<form action="/edit" method="get" th:object="${entry}">
							<button th:value="${entry.number}" name="entryNumber">EDIT</button>
						</form>
					</td>
					<td>
						<form action="#" th:action="@{/delete}" method="get" th:object="${entry}">
							<input type="submit" th:value="*{number}" name="entryString" value="DELETE">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>