<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/style.css">
	<title>Journal App</title>
</head>
<body>

	<!-- TEXT INPUT	-->
	<main>
		<form action="#" th:action="${journalAction}" method="get">
			<div class="title">
				<label for="title">
					<input type="text" name="title" id="title" th:placeholder="${placeholderTitle}"
						   th:value="${entryTitle}">
				</label>
			</div>
			<input type="hidden" name="entryNumber" th:value="${entryNumber}">
			<div class="body">
				<label for="body">
					<textarea th:placeholder="${placeholderBody}" name="body" id="body"
							  th:text="${entryBody}"></textarea>
				</label>
				<div>
					<input type="submit" class="submitButton" value="submit">
				</div>
			</div>
		</form>
		<form action="/startApp" method="get" id="cancelButton">
			<label>
				<input type="submit" class="button" value="cancel">
			</label>
		</form>

		<!-- DISPLAY STATISTICS -->
		<div id="statisticsDiv">
		</div>

	</main>

	<!-- DISPLAY ENTRIES -->
	<aside>
		<table class="ListOfEntries">
			<tbody th:each="entry : ${entryList}">
				<tr>
					<td colspan="4" th:text="${entry.date}"></td>
				</tr>
				<tr>
					<td colspan="4" th:text="${entry.title}"></td>
				</tr>
				<tr>
					<td colspan="4" th:text="${entry.body}"></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td>
						<form action="/edit" method="get" th:object="${entry}">
							<button th:value="${entry.number}" class="button" name="entryNumber">edit</button>
						</form>
					</td>
					<td>
						<form action="/delete" method="get" th:object="${entry}">
							<button th:value="${entry.number}" class="button" name="entryNumber">delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</aside>
</body>
</html>