<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/appStyle.css">
	<link rel="stylesheet" href="../css/type.css">
	<title>Journal App</title>
</head>
<body>

	<!-- TEXT INPUT	-->
	<main>
		<form action="#" th:action="${journalAction}" method="post" id="gridItem01">
			<div class="title">
				<p class="label">Title</p>
				<hr>
				<label for="title">
					<input type="text" name="title" id="title" th:placeholder="${placeholderTitle}"
						   th:value="${entryTitle}" autofocus>
				</label>
			</div>
			<input type="hidden" name="entryNumber" th:value="${entryNumber}">
			<div class="body">
				<p class="label">Journal Entry</p>
				<hr>
				<label for="body">
					<textarea th:placeholder="${placeholderBody}" name="body" id="body"
							  th:text="${entryBody}"></textarea>
				</label>
			</div>
			<div class="inlineButton">
				<input type="submit" class="submitButton" value="SUBMIT">
			</div>
		</form>
		<form class="inlineButton" action="/startApp" method="post" id="cancelButton">
			<label>
				<input type="submit" class="button" value="CANCEL">
			</label>
		</form>

		<!-- DISPLAY STATISTICS -->
		<div id="statisticsDiv">
		</div>

	</main>

	<!-- DISPLAY ENTRIES -->
	<aside>
		<p class="label padMarginLeft">Previous Entries</p>
		<hr class="padMarginLeft">
		<table class="ListOfEntries" id="gridItem02">
			<tbody th:each="entry : ${entryList}">
				<tr>
					<td class="journalDate" th:text="${entry.date}"></td>
				</tr>
				<tr>
					<td class="journalTitle" th:text="${entry.title}"></td>
				</tr>
				<tr>
					<td class="journalBody" th:text="${entry.body}"></td>
				</tr>
				<tr>

					<td class="lastRow">
						<form class="inlineButton" action="/edit" method="post" th:object="${entry}">
							<button th:value="${entry.number}" class="button" name="entryNumber">EDIT</button>
						</form>
						<form class="inlineButton" action="/delete" method="post" th:object="${entry}">
							<button th:value="${entry.number}" class="button" name="entryNumber">DELETE</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</aside>
</body>
</html>